configuration {
    modi: "drun,run";
    show-icons: true;
    display-drun: "Apps";
    display-run: "Run";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 12";
    terminal: "kitty";
}

@theme "nordic"
